/* flex-item settings for the entire section container
where the volume is rendered. */
.volume-container {
    flex: 0 1 5%;
}

/* flex-item settings; div container for the volume title, author, and published year */
.title-container {
    flex: 0 1 20%;
}

/* flex-item settings for the thumbnail and text snippet div container */
.description-container {
    flex: 0 1 80%;
}

/* flex-item settings for the volume's thumbnail image */
.thumbnail {
    max-height: 50%;
    flex: 0 1 15%;
}

/* flex-item settings for the volume's text snippet */
.description {
    flex: 0 1 70%;
}





